dist/zeversolar_local_NECH2004-1.0.0-py3-none-any.whl
dist/zeversolar_local-NECH2004-1.0.0.tar.gz
.coverage
src/zever_local.egg-info/dependency_links.txt
src/zever_local.egg-info/PKG-INFO
src/zever_local.egg-info/SOURCES.txt
src/zever_local.egg-info/top_level.txt
dist/zever_local-1.0.0-py3-none-any.whl
dist/zever_local-1.0.0.tar.gz
